body {
    background-color: black;
    margin: 0px;
    padding: 0px;
}

.navbar h2 {
    color: white;
    margin: 20px;
}

.navbar a {
    color: rgb(70, 9, 236);
    text-decoration: none;
    margin-right: 25px;
}