body{
    background-color: blueviolet;
    padding: 0px;
    margin: 0px;
}
.links{
    
    background-color: rgba(228, 23, 160, 0.812);
    justify-content: flex-end;
    flex-wrap: nowrap;
    display: flex;
    gap: 5px;
    padding: 20px 60px;
    align-items: center;
}
.links a{
    background-color: aquamarine;
    padding: 30px;
    margin: 0px; 
    text-decoration: none;
    font-size: 20px;
}
.links a:hover{
    color: cyan;
}
.links h2{
    color: rgb(67, 101, 34);
    font-size: 30px;
    background-color: black;
}