* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #a1b7d7;
    
}
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #5a3c70;
    padding: 20px 60px;
}
.links {
    display: flex;
    gap: 30px;
}
.links a {
    color: rgb(213, 193, 16);
    text-decoration: none;
    font-size: 20px;
    
}

.links a:hover {
    color: #09bd69;
}
.mm{
   color: aqua;
   
}